{% extends 'films/base.html' %}
{% load static %}

{% block style %}
        * {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Roboto, sans-serif;
        }

        .frame {
            max-width: 100%;
            background: white;
        }

        .user-icon {
            width: 40px;
            height: 40px;
        }

        .content {
            padding: 20px;
        }

        .library-header {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 15px;
            background: #EEEEEF;
            border-radius: 5px;
        }

        .library-header .title {
            font-size: 20px;
            font-weight: 700;
            color: #03151E;
        }

        .search-section {
            display: flex;
            align-items: center;
            gap: 10px;
            background: rgba(238, 238, 239, 0.9);
            box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.25);
            padding: 8px 10px;
            border-radius: 5px;
        }

        .search-input {
            flex: 1;
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        }

        .library-items {
            padding-top: 2%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            gap: 20px;
        }

        .library-item {
            text-align: center;
            text-decoration: none;
            color: inherit;
        }

        .library-item img {
            width: 170px;
            height: auto;
            border-radius: 6px;
        }

        .library-item .title {
            font-size: 15px;
            font-weight: 600;
            margin: 5px 0;
        }

        .library-item .author {
            font-size: 12px;
            color: #555;
        }
{% endblock %}

{% block content %}
    <main class="content">
        <div class="library-header">
            <div class="title">Favourite</div>
        </div>
        <div class="search-section">
            <input class="search-input" type="text" placeholder="Search">
        </div>
        <div class="library-items">
            {% for film in films %}
                <div class="library-item">
                    <a href="{% url 'film_page' film.id %}" class="library-item">
                        <img src="{{ film.image.url }}" alt="{{ film.name }} Cover">
                        <div class="title">{{ film.name }}</div>
                        <div class="author">{{ film.director.name }}</div>
                    </a>
                </div>
            {% empty %}
                <div>No favourite films yet.</div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
