{% extends 'films/base.html' %}
{% load static %}


{% block style %}
     * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Roboto', sans-serif;
    }

    .main-content {
      padding: 9% 5%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 4%;
    }

    .image-container img {
      width: 250px;
      height: 375px;
      border-radius: 10px;
    }

    .details {
      max-width: 800px;
      flex: 1;
      font-size: 60px;
    }

    .details h1,
    .details h2 {
      margin-bottom: 15px;
    }

    .details h1 {
      font-size: 32px;
      font-weight: 600;
    }

    .details h2 {
      font-size: 24px;
      font-weight: 600;
      color: #4BC1D2;
    }

    .details h3 {
      font-size: 24px;
      font-weight: 600;
      margin-top: 20px;
    }

    .details p {
      font-size: 24px;
      font-weight: 600;
    }

    .details p.description {
      font-size: 24px;
      margin-top: 20px;
    }

    .heart-container {
      align-self: flex-start;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .heart-container img {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }

    .heart-container span {
      font-size: 18px;
      font-weight: 600;
      color: black;
    }

    .tag{
      text-decoration: none;
      color: #4BC1D2;
    }

{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="image-container">
          <img src="{{ film.image.url }}" alt="{{ film.name }} Poster">
        </div>
        <div class="details">
          <h1>{{ film.name }}</h1>
          <h2><a class="tag" href="{% url 'search' %}?studio={{ film.studio.id }}">{{ film.studio.name }}</a></h2>
          <h3>
            Genre:
            <a class="tag" href="{% url 'search' %}?genre={{ film.genre.id }}">{{ film.genre.name }}</a> <br>
            Director:
            <a class="tag" href="{% url 'search' %}?director={{ film.director.id }}">{{ film.director.name }}</a> <br>
            Year:
            <a class="tag" href="{% url 'search' %}?year={{ film.year.id }}">{{ film.year.name }}</a> <br>
            Production:
            <a class="tag" href="{% url 'search' %}?country={{ film.country.id }}">{{ film.country.name }}</a> <br>
            Screenplay: {{ film.screenplay }};<br>
            Actors: {{ film.actors }};
          </h3>
          <p class="description">
            {{ film.description }}
          </p>
        </div>
        {% if user.is_authenticated %}
            <div class="heart-container" id="heart-container-{{ film.id }}">
                {% if is_favourite %}
                    <img src="{% static 'heart.svg' %}" alt="Heart" class="heart-img" id="heart-img-{{ film.id }}">
                {% else %}
                    <img src="{% static 'heart-n.svg' %}" alt="Heart" class="heart-img" id="heart-img-{{ film.id }}">
                {% endif %}
                <span>Favourite</span>
            </div>
        {% endif %}
    </div>
    <script>
        document.querySelector("#heart-container-{{ film.id }}").addEventListener("click", function() {
            const heartImage = document.querySelector("#heart-img-{{ film.id }}");

            fetch("{% url 'toggle_favourite' film_id=film.id %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.added_to_fav) {
                    heartImage.src = "{% static 'heart.svg' %}";
                } else {
                    heartImage.src = "{% static 'heart-n.svg' %}";
                }
            });
        });
    </script>
{% endblock %}