{% extends 'films/base.html' %}
{% load static %}

{% block style %}
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Roboto', sans-serif;
      background: white;
    }


    .divHero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px 10%;
      text-align: center;
    }

    .divHero .text {
      font-size: 2rem;
      font-weight: 900;
      color: #03151E;
      margin-bottom: 20px;
    }

    .divHero .slogan {
      font-size: 18px;
      font-weight: 300;
      color: #03151E;
      margin-bottom: 30px;
    }

    .divHero .link {
      padding: 10px 30px;
      background: #4BC1D2;
      color: white;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
    }

    .divCreateShare {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px 10%;
      background: #CFF2F5;
    }

    .divCreateShare img {
      max-width: 100%;
      height: auto;
      box-shadow: 0px 25px 100px rgba(27, 84, 112, 0.15) inset;
      margin-bottom: 20px;
    }

    .divCreateShare .heading2 {
      font-size: 1.5rem;
      font-weight: 900;
      color: #03151E;
      margin-bottom: 20px;
    }

    .divCreateShare .pTextCenter {
      padding-top: 1%;
      font-size: 18px;
      font-weight: 400;
      color: #03151E;
      text-align: center;
      max-width: 980px;
    }


{% endblock %}

{%block content %}
    <div class="divHero">
      <div class="text">IFilms</div>
      <div class="slogan">Your movie journey begins here - a movie for every mood!</div>
      <a href="{% url 'search' %}" class="link">Start</a>
    </div>
    <div class="divCreateShare">
      <img src="{% static 'image 1.png' %}" alt="Example">
      <div class="heading2">IFilms film library</div>
      <div class="pTextCenter">
        Our film library is a place where stories come to life.
          From thrilling blockbusters to touching dramas, from cinema classics to modern hits, there is a movie for everyone.
          Convenient search, selections by genre.
          Immerse yourself in the world of cinema with us!
      </div>
    </div>
{% endblock %}